@media (min-width: 64rem) {
    .slide-wrapper {
        height: 450px;
    }
}
main{
    margin-top: 80px;
}
.slide-wrapper {
    overflow: hidden;
}

.container,
.slide-wrapper {
    margin: 0 auto;
}

.container {
    touch-action: pan-y;

}

.slider {
    display: flex;
    transition: 5s ease-in-out;
}

.slide {
    /* background-color: #02a6d6; */
    /* padding-top: 80px; */
    background: #1e4a87;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    min-width: 100%;
}

@media (min-width: 64rem) {
    .slide {
        display: block;
    }
}

.sub_heading {
    /* color: rgb(0, 0, 0); */
    color: white;
    padding: 1.25rem;
    text-align: left;
    width: 100%;
}

@media (min-width: 64rem) {
    .sub_heading {
        align-content: center;
        display: grid;
        width: 23rem;
        height: 100%;
        left: 5%;
        position: absolute;
        padding-left: .5rem;
    }
}

@media (min-width: 48rem) {
    .sub {
        margin-bottom: .95rem;
    }
}

@media (min-width: 64rem) {
    .sub {
        letter-spacing: .0125rem;
        margin-top: unset;
    }
}

.sub {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .031rem;
    line-height: 1.5;
    margin-bottom: .7rem;
    margin-top: .625rem;
}

@media (min-width: 64rem) and (max-width: 85.312rem) {
    .heading {
        font-size: 2.25rem;
        line-height: 1.29;
    }
}

@media (min-width: 48rem) {
    .heading {
        font-size: 2.25rem;
        font-weight: 700;
        letter-spacing: .031rem;
        line-height: 1.22;
    }
}

.heading {
    font-style: 1.87rem;
    font-weight: 700;
    letter-spacing: .031rem;
    line-height: 1.33;
    margin-bottom: 1.2rem;
    margin-top: 0;
    text-transform: inherit;
}

/* img{
    position:relative;
    width: 100%;
} */
.pink {
    width: 100%;
    height: 16rem;
}

@media (min-width: 36rem) {
    .pink {
        float: right;
        height: 512px;
    }
}

@media(min-width: 64rem) {
    .pink {
        width: 42rem;
    }
}

.mid {
    display: flex;
    padding: 3rem 0 2.5rem;
    background-color: #1a1a1a;
}

.mid-container {
    margin: 0 auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
    width: 100%;
}

@media (max-width:889px) {
    .mid-wrapper {
        flex-direction: column;
        padding: 1.25rem;
    }
}

.mid-wrapper {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.25rem 0;
}

.mid-img-area {
    display: flex;
    flex: 1;
    justify-content: center;
}

.mid-content-area {
    flex: 2;
}

.mid-description {
    color: white;
    border-left: none;
    padding-left: 0;
}

.mid-description p {
    font-size: 1rem;
    letter-spacing: .0125rem;
    line-height: 1.5;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .019rem;
    line-height: 1.75rem;
    font-family: proxima-nova, sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* @media screen and (max-width: 889px) {
    .p-vd {
        padding: 61px 0 230px;
    }
}
section{
    display: block;
}
.p-vd {
    padding: 94px 0 384px;
    background-color: #0d85a8 url(../assets/video_bg.jpg) no-repeat center top / 100% auto; */
    /* background-color: #0d85a8; */
    /* background-color: #1e4a87;
    position: relative;
    overflow: hidden;
}

.p-vd__title {
    width: 574px;
    margin: 0 auto 49px;
    transform: translate(10px, 10px);
    opacity: 0;
    transition: opacity 0.7s var(--ease-main) 0.1s, transform 0.7s var(--ease-bound) 0.1s;
}

@media screen and (max-width: 899px) {
    .c-title {
        filter: drop-shadow(4px 4px 0 var(--color-black));
    }
}

.c-title {
    filter: drop-shadow(6px 6px 0 var(--color-black));
}

@media screen and (max-width: 899px) {
    .p-vd__title {
        width: 91%;
        margin: 0 auto 33px;
    }

    .p-vd__title h2 {
        width: 40%;
        margin-right: auto;
    }
} */
/* .p-vd__contents{
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 899px) {
    .p-vd__contents-main {
        width: 89%;
        margin: 0 auto 25px;
    }
}
.p-vd__contents-main{
    width: 72%;
    max-width: 1000px;
    position: relative;
}
@media screen and (max-width: 899px) {
    .p-vd__contents-main-icon {
        width: 30%;
        right: -1%;
        top: -63%;
    }
}
.p-vd__contents-main-icon {
    width: 20%;
    position: absolute;
    right: 0;
    z-index: 1;
}
.p-vd__contents-main-icon-text {
    width: 100%;
    animation: rotate 15s linear infinite;
}
img{
    max-width: 100%;
    display: block;
    /* overflow-clip-margin: content-box;
    overflow: clip; */
/* }  */
/* .p-news {
    padding-bottom: 55px;
    background-color: #ee2b4d;
}

@media screen and (max-width: 899px) {
    .p-news {
        padding-bottom: 70px;
    }
}

.p-news__header {
    padding: 76px 0 21px;
    background-color: #154f8e;
    position: relative;
}

@media screen and (max-width: 899px) {
    .p-news__header {
        padding: 69px 0 19px;
    }
}

.p-news__header-title {
    width: 100%;
    padding-top: 72px;
    position: absolute;
    left: 0;
    transition: -webkit-clip-path 0.6s var(--ease-in);
    transition: clip-path 0.6s var(--ease-in);
    transition: clip-path 0.6s var(--ease-in), -webkit-clip-path 0.6s var(--ease-in);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.is-scroll-active.p-section .p-news__header-title {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@media screen and (min-width: 900px) {
    .p-news__header-title {
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 899px) {
    .p-news__header-title {
        width: 100%;
        padding-top: 32px;
        position: absolute;
        top: 14%;
    }
}

.p-news__header-title-item {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/News_.png) repeat-x left top/217px 72px;
    animation: newsBg 5s linear infinite;

}

@media screen and (min-width: 900px) {
    @keyframes newsBg {
        0% {
            background-position-x: 0;
        }

        100% {
            background-position-x: -317px;
        }
    }
}

@media screen and (max-width: 899px) {
    .p-news__header-title-item {
        background: url(../assets/News_.png) repeat-x left top/140px 32px;
    }

    @keyframes newsBg {
        0% {
            background-position-x: 0;
        }

        100% {
            background-position-x: -140px;
        }
    }
}


.p-news__header-title-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px);
    opacity: 0;
    transition: opacity 0.7s var(--ease-main) 0.2s, transform 0.7s var(--ease-main) 0.2s;
}

.is-scroll-active.p-section .p-news__header-nav {
    transform: translateY(0);
    opacity: 1;
}

.p-news__header-title-item {
    /* width: 340px; */
/* margin: 0 7px;

}

@media screen and (max-width: 899px) {
    .p-news__header-nav-item {
        width: 46%;
        margin: 0 1.4%;
    }
} */

/* .p-news__header-nav-item.--global .p-news__header-nav-item-link {
  background-color: orange;
}
.p-news__header-nav-item.--global .p-news__header-nav-item-link .p-in-text {
  color: white;
} */
/* .p-news__header-nav-item-link {
    display: block;
    width: 100%;
    padding: 5px 0;
    position: relative;
    border-radius: 50rem;
    transition: transform 0.4s var(--ease-bound);
}

@media screen and (min-width: 900px) {
    .p-news__header-nav-item-link:hover {
        transform: scale(0.95);
    }
}

@media screen and (max-width: 899px) {
    .p-news__header-nav-item-link .p-in-text {
        font-size: 2rem;
    }
} */